*{
margin:0;
padding:0;
box-sizing:border-box;
}
body{
    font-family: 'popins',sans-serif;
    background: url(../img/hero.jpg) no-repeat center center/cover;
    color: white;
}
header{
    
    display: flex;
    justify-content: space-between;
    background: green;
    backdrop-filter:blur(10px);
    color: white;
    padding: 10px 0;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
a{
color:white ;
text-decoration:none;
padding: 10px 20px;
}
.img{
    width:80%;
    height:80%;
}

footer{
    justify-content: space-between;
    background: blue;
    backdrop-filter:blur(10px);
    color: white;
    padding: 10px 0;
    text-align: center;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: aquamarine;
}
.hero-img{
    width:100%;
    height:100%;
    object-fit:cover;
    
}    

.container{
    display: flex;
    max-width: 1200px;
    margin:auto;
    padding:20px;
    justify-content: center;
    align-items: center;
} 
.card{
    display:flex;
    justify-content:center;
    flex-direction:row;
    width:100% ;
    height:300px;
    border-radius:spx;
    align-content:center;
    flex-wrap:wrap;
}
.colum{
    display:flex;
    flex-direction:column ;
}
.direita{
    display: flex;
    flex-direction:row-reverse ;
}
.esquerda{
    display:flex;
    flex-direction:column ;

}